.index-menu
	position fixed
	bottom -1px
	width 100%
	padding: 1px 0
	background-color #F8F8F8
	ul
		display table
		width 100%
		li
			display table-cell
	.main-menu-item
		width 20%
		height 1.0671113rem
		font-size 0
		color #909090
		text-align center
		i
			display block
			width .646667rem
			height .646667rem
			margin auto
		span
			display block
			font-size 0.28rem
	.vip
		background url('./VIP中心.png') 0 0 / .646667rem .646667rem no-repeat
	.org
		background url('./组织架构.png') 0 0 / .646667rem .646667rem no-repeat
	.mySale
		background url('./我的销售.png') 0 0 / .646667rem .646667rem no-repeat
	.bonusDetail
		background url('./奖金明细.png') 0 0 / .646667rem .646667rem no-repeat
	.myWallet
		background url('./我的钱包.png') 0 0 / .646667rem .646667rem no-repeat

	.active
		.vip
			background-image url('./VIP中心2.png')
		.org
			background-image url('./组织架构2.png')
		.mySale
			background-image url('./我的销售2.png')
		.bonusDetail
			background-image url('./奖金明细2.png')
		.myWallet
			background-image url('./我的钱包2.png')
		span
			color #333333
