a
	text-decoration none

ul
	margin 0
	padding 0
	list-style none

.app-content
	padding-top 1.306667rem
	
.with-footnav
	padding-bottom 1.045333rem

ul.nav-list
	margin .2665rem 0 .533rem
	background #fff
	li
		display flex
		height 1.1723rem
		padding 0 0.346667rem 0 0.466667rem
		font-size 0.373333rem
		line-height 1.1723rem
		.nav-label
			flex 1
	li + li
		border-top 1px solid #eee

